<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' https://lh3.googleusercontent.com data:">

    <title>Welcome to Google Authentication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /* Add your CSS styles for responsiveness here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        /* Add styles for the header */
        header {
            background-color: black;
            color: white;
            padding: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed; /* Fixed position to stay at the top */
            width: 100%;
        }

        /* Style for header menu */
        .menu {
            list-style: none;
            padding: 0;
            display: flex;
        }

        .menu-item {
            margin-right: 0 2px;
            margin-left: 40px;
        }

        .menu-link {
            font-size: 1.2rem;
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        /* Style for the main content */
        .container {
            text-align: center;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .google-button {
            background-color: #4285f4;
            color: #fff;
            padding: 10px 20px;
            font-size: 1.2rem;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .google-button:hover {
            background-color: #357ae8;
        }

        /* Style for profile button */
        .profile-button {
            background-color: #ffffff;
            color: #000000;
            padding: 5px 10px;
            font-size: 0.8rem;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            margin-top: 3px;
            margin-right: 30px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .profile-name {
            margin-left: 10px;
        }

        .profile-image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }

        /* Dropdown styles */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 3px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 5px;
            margin-top: 1px;
        }

        .dropdown-content a {
            color: black;
            padding: 16px 10px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
            border-radius: 5px;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>

<body>


    <% if (user) { %>
        <header>
            <ul class="menu">
                <li class="menu-item"><a class="menu-link" href="/">Image Keeper</a></li>
            </ul>
            <div class="dropdown">
                <div class="profile-button dropbtn">
                    <img class="profile-image" src="<%=user.image%>" alt="Profile Image">
                    <span class="profile-name">
                        <%= user.firstName %>
                    </span>
                    
                </div>
                <div class="dropdown-content">
                    <a href="/profile">View Profile</a>
                    <a href="/auth/google/logout">Log out</a>
                </div>
            </div>
        </header>
        <% } %>

            <div class="container">
                <% if (!user) { %>
                    <h1>Welcome to Image Keeper, Try free! &#x1F449; </h1>
                    <a class="google-button" href="/auth/google">Login with Google</a>
                    <% } else { %>
                        <p>Welcome, <%= user.displayName %>!</p>
                        <span>Add Your Experience Picture! </span>
                        <% } %>
            </div>
            <script>
                console.log('<%= JSON.stringify(user) %>');
            </script>
</body>

</html>