<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <h1>Profile Page</h1>
    <% if (user) { %>
        <p>Welcome, <%= user.displayName %>!</p>
        <% if (user.email && user.email.length > 0) { %>
            <p>Email: <%= user.email %>
            </p>
            <% } else { %>
                <p>Email not available</p>
                <% } %>
                    <a href="/">Home</a>
                    <% } else { %>
                        <!-- Handle the case when user is not defined -->
                        <p>User not authenticated</p>
                        <% } %>

</body>

</html>