<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> <!-- Link to an external CSS file for styling -->
    <title>Profile</title>
</head>

<body>
    <div class="container">
        <h1>Profile Page</h1>
        <% if (user) { %>
            <div class="profile">
                <img src="<%= user.image %>" alt="Profile Image">
                <h2>Welcome, <%= user.displayName %>!</h2>
                <p class="email">Email: <%= user.email ? user.email : 'Email not available' %>
                </p>
            </div>
            <a href="/">Home</a>
            <% } else { %>
                <!-- Handle the case when the user is not defined -->
                <p class="not-authenticated">User not authenticated</p>
                <% } %>
    </div>
</body>

<style>
    body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
}

.profile {
    padding: 20px;
}

img {
    max-width: 100%;
    border-radius: 50%;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
    margin-top: 10px;
}

.email {
    color: #666;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

.not-authenticated {
    color: #FF5733;
}

</style>
</html>