<!DOCTYPE html>
<html>

<head>
    <title>View Picture</title>
    <style>
    .container {
    text-align: center;
    margin-top: 20px;
    /* Adjust top margin for header */
    }
</style>
</head>

<body>
    <div class="container">
        <h1>View Picture</h1>
        <img src="<%= image %>">

    </div>
</body>

</html>